body{
   color:#192f66;
   max-width: 1920px;
   font-family: "Roboto";
}

h1{
   margin-top: 14%;
   margin-left: 4%;
   font-family: "Montserrat";
   font-size: 160px;
   font-weight: bold;
}
p.p-it span{
   font-weight: bold;
}
p.p-it{
   margin-left: 4%;
   font-size: 39px;
   line-height: normal;
}
.row-background-img{
   background-image: url("./img/bg1.png");
	background-repeat: no-repeat;
	background-position: left top;
   padding-top: 2%;
}

.join{
   background-color: #ffd200;
   border-radius: 50px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   margin: 9.5% 0 0 2.5%;
   justify-content: end;
   padding-right: 4%;
   width: 626px;
   height: 106px;
}
.join a{
   color:#192f66;
   font-family: "RobotoBold";
   font-size: 55px;
}
.join a:hover{
   text-decoration: none;
   cursor: pointer;
}
.div-im{
   margin-left: -26%;
}
.div-im img{
   width: 100%;
}
.blue-box{
   display: flex;
   justify-content: space-evenly;
   background: linear-gradient(#1e438f, #234ea8);
   border-radius: 50px;
   color: #fff;
   padding: 1.5% 0;
}
.div-blue-box{
   width: 22%;
   position: relative;
}
.box{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.box:hover{
   border-radius: 50px;
   background: linear-gradient(146deg, rgba(255,213,16,1) 4%, rgba(255,231,117,1) 39%, rgba(255,211,4,1) 62%);
   color: #192f66;
   transition: .5s;
   position: absolute;
   padding-top: 12%;
   height: 130%;
   top: -15%;
}
.box:hover > .div-bg-img1{
   background-image: url("./img/mnu12.png");
}
.box:hover > .div-bg-img2{
   background-image: url("./img/mnu8.png");
}
.box:hover > .div-bg-img3{
   background-image: url("./img/mnu11.png");
}
.box:hover > .div-bg-img4{
   background-image: url("./img/mnu10.png");
}
.box h2{
   font-size: 42px;
   font-family: "Montserrat";
   font-weight: 600;
}
.box p{
   font-size: 27px;
   text-align: center;
   padding: 0 10%;
}
.section-boxes{
   padding: 9% 2.5% 0 2.5%;
}
.box:first-child div{
   background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
   width: 100px;
   height: 100px;
   margin-bottom: 10%;
}
.div-bg-img1{
   background-image: url("./img/mnu5.png");
}
.div-bg-img2{
   background-image: url("./img/mnu9.png");
}
.div-bg-img3{
   background-image: url("./img/mnu6.png");
}
.div-bg-img4{
   background-image: url("./img/mnu7.png");
}